.carouselBackground {
  background-color: rgba(0, 0, 0, 0.671);
  border-radius: 12px;
    height: 36vh;
  width: 47vw;
}

.bannerFlex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: stretch;
  background-color: #565656;
  height: 40vh;
}
.carouselImages {
  height: 30vh;
  width: 40vw;
  margin-top: 3vh;
  margin-left: .5vw;
}

.firstCarouselImage {

  animation-name: imageSlider1;
  animation-duration: 16s;
  left: 0vw;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: imageSlider1;
  -webkit-animation-duration: 16s;
  -webkit-animation-fill-mode: forwards;
  position: absolute;

}
.secondCarouselImage {

  animation-name: imageSlider2;
  animation-duration: 16s;
  animation-fill-mode: forwards;
  left: 0vw;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: imageSlider2;
  -webkit-animation-duration: 16s;
  -webkit-animation-fill-mode: forwards;
  position: absolute;
}
.thirdCarouselImage {

  animation-name: imageSlider3;
  animation-duration: 16s;
  animation-fill-mode: forwards;
  left: 0vw;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: imageSlider3;
  -webkit-animation-duration: 16s;
  -webkit-animation-fill-mode: forwards;
position: absolute;
}
.fourthCarouselImage {

  animation-name: imageSlider4;
  animation-duration: 16s;
  animation-fill-mode: forwards;
  left: 0vw;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: imageSlider4;
  -webkit-animation-duration: 16s;
  -webkit-animation-fill-mode: forwards;
position: absolute;
}

@keyframes imageSlider1 {
  0% {
    opacity: 0;
  }
  6%{
    opacity: 1;
  }
  23%{
    opacity: 1;
  }
  26% {
    opacity: 0;
  }
 
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes imageSlider1 {
  0% {
    opacity: 0;
  }
  6%{
    opacity: 1;
  }
  23%{
    opacity: 1;
  }
  26% {
    opacity: 0;
  }
 
  100% {
    opacity: 0;
  }
}
@keyframes imageSlider2 {
  0% {
    opacity: 0;
  }
  23%{
    opacity: 0;
  }
  26% {
    opacity: 1;
  }
  48%{
    opacity: 1;
  }
 51%{
   opacity: 0;
 }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes imageSlider2 {
  0% {
    opacity: 0;
  }
  23%{
    opacity: 0;
  }
  26% {
    opacity: 1;
  }
  48%{
    opacity: 1;
  }
 51%{
   opacity: 0;
 }
  100% {
    opacity: 0;
  }
}
@keyframes imageSlider3 {
  0% {
    opacity: 0;
  }
  48%{
    opacity: 0;
  }
  51% {
    opacity: 1;
  }
  73%{
    opacity: 1;
  }
 76%{
   opacity: 0;
 }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes imageSlider3 {
  0% {
    opacity: 0;
  }
  48%{
    opacity: 0;
  }
  51% {
    opacity: 1;
  }
  73%{
    opacity: 1;
  }
 76%{
   opacity: 0;
 }
  100% {
    opacity: 0;
  }
}
@keyframes imageSlider4 {
  0% {
    opacity: 0;
  }
 
  73%{
    opacity: 0;
  }
  
  76%{
    opacity: 1;
  }
  97%{
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes imageSlider4 {
  0% {
    opacity: 0;
  }
 
  73%{
    opacity: 0;
  }
  
  76%{
    opacity: 1;
  }
  97%{
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}





.navFlex{
  background-color:#222222;
  color: white;
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}

.firstBottom{
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;
}

.firstBottomColumnFlex{
  color: white;
  background-color: #222222;
  border-radius: 15px;
  padding: 1vh;
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;
}
.firstBottomColumnFlex p {
  width: 35vw;
}

.mapBorder{
  border-style: solid;
  border-width: 1vh;
  border-color: #222222;
  border-radius: 15px;
  margin-bottom: 2vh;
}