.contactBanner{
    background-image: url('../images/contactbanner.jpg');
    background-repeat: no-repeat;
    width: 100vw;
    height: 30vh;
    background-size: 100% 100%;
    background-position-y: -6vh;
    color: white;
    overflow: hidden;
}
.contactBanner p{
    margin-top: 0vh;
position: relative;
top: 50%;
left: 8%;
}

.contactRowOfColumns{
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
    align-content: stretch;
margin-top: -2vh;
   
}

.contactTextColumn{
    width: 30vw;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
    align-content: stretch;
    
}

.contactFlex{
    width: 30vw;
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
    align-content: stretch;
    border-radius: 15px;
    border-style: solid;
    border-color: #222222;
    border-width: 1vh;
    padding: 2vh;
}


.contactFlex div{
 margin-left: 2vw;
}
.contactFlex div p{
margin-bottom: 0vh;
}