
.contactRowOfColumns{
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
    align-content: stretch;
    margin-top: 20vh;
   
}

.contactTextColumn{
    width: 30vw;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
    align-content: stretch;
    
}

.contactFlex{
    width: 30vw;
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
    align-content: stretch;
    border-radius: 15px;
    border-style: solid;
    border-color: #222222;
    border-width: 1vh;
    padding: 2vh;
}


.contactFlex div{
 margin-left: 2vw;
}
.contactFlex div p{
margin-bottom: 0vh;
}