.firstAnimation {
  
  border-radius: 10px;
  animation-name: flasher;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 0s;
  -webkit-animation-delay: 0s;
  -webkit-animation-name: flasher;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
}
.secondAnimation {
  
  border-radius: 10px;
  animation-name: flasher;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 0.16s;
  -webkit-animation-delay: 0.16s;
  -webkit-animation-name: flasher;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
}
.thirdAnimation {
  
  border-radius: 10px;
  animation-name: flasher;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 0.33s;
  -webkit-animation-delay: 0.33s;
  -webkit-animation-name: flasher;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
}
.fourthAnimation {
  
  border-radius: 10px;
  animation-name: flasher;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 0.49s;
  -webkit-animation-delay: 0.49s;
  -webkit-animation-name: flasher;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
}
.fifthAnimation {
  
  border-radius: 10px;
  animation-name: flasher;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 0.66s;
  -webkit-animation-delay: 0.66s;
  -webkit-animation-name: flasher;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
}
.sixthAnimation {
  
  border-radius: 10px;
  animation-name: flasher;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 0.83s;
  -webkit-animation-delay: 0.83s;
  -webkit-animation-name: flasher;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
}

.flashFaderAnimation {
  cursor: pointer;
  border-radius: 15px;
  border-color: #054e6d;
  border-style: solid;
  padding: 10px;
  margin-left: 1vw;
}
.flashFaderAnimation:hover {
  background-color: #054f6d;
}

@keyframes flasher {
  0% {
    -moz-box-shadow: 0px 0px 0px rgba(93, 204, 232, 0);
    -webkit-box-shadow: 0px 0px 0px rgba(93, 204, 232, 0);
    box-shadow: 0px 0px 0px rgba(93, 204, 232, 0);
    
  }
  50% {
    -webkit-box-shadow: 0px 0px 13px 12px #054f6d;
    -moz-box-shadow: 0px 0px 13px 12px #054f6d;
    box-shadow: 0px 0px 13px 12px #054f6d;
    background-color: #054f6d;
  }
  100% {
    -moz-box-shadow: 0px 0px 0px rgba(93, 204, 232, 0);
    -webkit-box-shadow: 0px 0px 0px rgba(93, 204, 232, 0);
    box-shadow: 0px 0px 0px rgba(93, 204, 232, 0);
   
  }
}
@-webkit-keyframes flasher {
  0% {
    -moz-box-shadow: 0px 0px 0px rgba(93, 204, 232, 0);
    -webkit-box-shadow: 0px 0px 0px rgba(93, 204, 232, 0);
    box-shadow: 0px 0px 0px rgba(93, 204, 232, 0);
    
  }
  50% {
    -webkit-box-shadow: 0px 0px 13px 12px rgb(93, 204, 232);
    -moz-box-shadow: 0px 0px 13px 12px rgb(93, 204, 232);
    box-shadow: 0px 0px 13px 12px rgb(93, 204, 232);
    background-color: rgba(93, 204, 232, 1);
  }
  100% {
    -moz-box-shadow: 0px 0px 0px rgba(93, 204, 232, 0);
    -webkit-box-shadow: 0px 0px 0px rgba(93, 204, 232, 0);
    box-shadow: 0px 0px 0px rgba(93, 204, 232, 0);
   
  }
}
