.generalHeight {
  width: 100vw;
  height: 100vh;
}

.topBackground {
  background-image: url("./images/topbackground.png");
  background-size: 100% 100%;
  right: 0%;
  background-repeat: no-repeat;
}

.secondBackground {
  height: 100vh;
}

.secondImage {
  -moz-box-shadow: 7px 7px 6px rgba(68, 68, 68, 0.76);
  -webkit-box-shadow: 7px 7px 6px rgba(68, 68, 68, 0.76);
  box-shadow: 7px 7px 6px rgba(68, 68, 68, 0.76);
  border-radius: 10px;
  border-style: outset;
  border-color: rgb(215, 213, 213);
  border-width: 5px;
  max-width: 40%;
  height: 70vh;
}
.secondFlex1 {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: stretch;
}
.secondFlex2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;
}
.secondTextBlock {
  max-width: 40%;
  height: 65vh;
  overflow-y: scroll;
  border-style: outset;
  border-color: rgb(215, 213, 213);
  border-radius: 10px;
  border-width: 5px;
  -moz-box-shadow: 7px 7px 6px rgba(68, 68, 68, 0.76);
  -webkit-box-shadow: 7px 7px 6px rgba(68, 68, 68, 0.76);
  box-shadow: 7px 7px 6px rgba(68, 68, 68, 0.76);
  padding: 1%;
  color: white;
  background: -moz-linear-gradient(
      top,
      rgba(0, 0, 0, 0.7) 0%,
      rgba(0, 0, 0, 0.7) 100%
    ),
    url(bg.png) repeat 0 0, url("./images/textbackground.jpg") repeat 0 0;

  background: -moz-linear-gradient(
      top,
      rgba(0, 0, 0, 0.7) 0%,
      rgba(0, 0, 0, 0.7) 100%
    ),
    url("./images/textbackground.jpg") repeat 0 0;

  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0, 0, 0, 0.7) 0%,
      color-stop(0, 0, 0, 0.7) 100%
    ),
    url("./images/textbackground.jpg") repeat 0 0;

  background: -webkit-linear-gradient(
      top,
      rgba(0, 0, 0, 0.7) 0%,
      rgba(0, 0, 0, 0.7) 100%
    ),
    url("./images/textbackground.jpg") repeat 0 0;

  background: -o-linear-gradient(
      top,
      rgba(0, 0, 0, 0.7) 0%,
      rgba(0, 0, 0, 0.7) 100%
    ),
    url("./images/textbackground.jpg") repeat 0 0;

  background: -ms-linear-gradient(
      top,
      rgba(0, 0, 0, 0.7) 0%,
      rgba(0, 0, 0, 0.7) 100%
    ),
    url("./images/textbackground.jpg") repeat 0 0;

  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.7) 0%,
      rgba(0, 0, 0, 0.7) 100%
    ),
    url("./images/textbackground.jpg") repeat 0 0;
}
