.generalHeight {
  width: 100vw;
  height: 90vh;
}

.topBackground {
  background-image: url("./images/topbackground.png");
  background-size: 100% 100%;
  right: 0%;
  background-repeat: no-repeat;
}

.secondBackground {
  background: rgb(14, 37, 51);
  background: -moz-linear-gradient(
    top,
    rgb(14, 37, 51, 1) 0%,
    rgba(24, 34, 164, 1) 100%
  );
  background: -webkit-linear-gradient(
    top,
    rgba(14, 37, 51, 1) 0%,
    rgba(24, 34, 164, 1) 100%
  );
  background: linear-gradient(
    to bottom,
    rgb(14, 37, 51, 1) 0%,
    rgba(24, 34, 164, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0fb4e7', endColorstr='#a9e4f7',GradientType=0 );
}

.secondImage {
  -moz-box-shadow: 7px 7px 6px rgb(109, 109, 109);
  -webkit-box-shadow: 7px 7px 6px rgb(109, 109, 109);
  box-shadow: 7px 7px 6px rgb(109, 109, 109);
  border-radius: 10px;
  border-style: outset;
  border-color: rgb(215, 213, 213);
  border-width: 5px;
  max-width: 40%;
  max-height: 70vh;
}
.secondFlex1 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: stretch;
}
.secondFlex2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;
  height: 100%;
  margin-top: -2%;
}
.secondTextBlock {
  max-width: 40%;
  border-style: outset;
  border-color: rgb(215, 213, 213);
  border-radius: 10px;
  border-width: 5px;
  -moz-box-shadow: 7px 7px 6px rgb(109, 109, 109);
  -webkit-box-shadow: 7px 7px 6px rgb(109, 109, 109);
  box-shadow: 7px 7px 6px rgb(109, 109, 109);
  padding: 2%;
  color: white;
  background: -moz-linear-gradient(
      top,
      rgba(0, 0, 0, 0.7) 0%,
      rgba(0, 0, 0, 0.7) 100%
    ),
    url(bg.png) repeat 0 0, url("./images/textbackground.jpg") repeat 0 0;

  background: -moz-linear-gradient(
      top,
      rgba(0, 0, 0, 0.7) 0%,
      rgba(0, 0, 0, 0.7) 100%
    ),
    url("./images/textbackground.jpg") repeat 0 0;

  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0, 0, 0, 0.7) 0%,
      color-stop(0, 0, 0, 0.7) 100%
    ),
    url("./images/textbackground.jpg") repeat 0 0;

  background: -webkit-linear-gradient(
      top,
      rgba(0, 0, 0, 0.7) 0%,
      rgba(0, 0, 0, 0.7) 100%
    ),
    url("./images/textbackground.jpg") repeat 0 0;

  background: -o-linear-gradient(
      top,
      rgba(0, 0, 0, 0.7) 0%,
      rgba(0, 0, 0, 0.7) 100%
    ),
    url("./images/textbackground.jpg") repeat 0 0;

  background: -ms-linear-gradient(
      top,
      rgba(0, 0, 0, 0.7) 0%,
      rgba(0, 0, 0, 0.7) 100%
    ),
    url("./images/textbackground.jpg") repeat 0 0;

  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.7) 0%,
      rgba(0, 0, 0, 0.7) 100%
    ),
    url("./images/textbackground.jpg") repeat 0 0;
}
